In [15]:
import collections

with open(r"D:\PYTHON\Oracle.txt", "r") as file:
    text = file.read()

words = text.split()

frequency = collections.Counter(words)

sorted_frequency = frequency.most_common()

for word, count  in sorted_frequency:
    print(f"{word}: {count}")

----------: 82
the: 71
from: 56
emp: 42
select: 36
where: 30
SQL>: 29
5000: 23
GROUP: 23
BY: 23
3000: 23
in: 20
by: 19
function: 19
COUNT: 19
of: 18
group: 16
that: 16
20: 15
be: 14
---------: 14
800: 13
is: 13
to: 13
1: 13
AVG(SAL): 12
SELECT: 12
COUNT(*): 12
MIN(SAL): 11
max(sal): 11
at: 11
JOB: 11
ENAME: 11
MAX(SAL): 10
The: 10
clause: 10
FROM: 10
you: 10
3: 10
emp;: 9
and: 9
one: 9
or: 9
SUM(SAL): 9
4: 9
2975: 9
ANALYST: 9
DEPTNO: 9
a: 8
are: 8
must: 8
This: 8
example: 8
function.: 8
job: 8
1300: 8
use: 8
salary: 8
deptno;: 8
SAL: 8
tables: 7
not: 7
will: 7
Example: 7
-: 7
return: 7
CLERK: 7
MANAGER: 7
number: 7
10: 7
sal=(select: 7
records: 6
for: 6
expression1,: 6
expression2,: 6
...: 6
clause.: 6
listed: 6
Using: 6
uses: 6
PRESIDENT: 6
2: 6
department: 6
30: 6
min(sal): 5
statement: 5
expression: 5
WHERE: 5
selected.: 5
look: 5
8275: 5
2450: 5
2758.33333: 5
how: 5
with: 5
AS: 5
SMITH: 5
SCOTT: 5
FORD: 5
JONES: 5
encapsulated: 4
as: 4
column: 4
conditions: 4
Let's: 4
job;: 4
4150: 4
1037.5: 4
SALESMAN: 4
5600: 4
1250: 4
1600: 4
1400: 4
6000: 4
have: 4
could: 4
employees: 4
"Number: 4
sal: 4
deptno,: 4
950: 4
2850: 4
values: 4
NOT: 4
example,: 4
sum(sal),min(sal),max(sal),count(*),avg(sal): 4
2916.66667: 4
ename,sal,job: 4
sal<(select: 4
DEPTNO,: 4
ename,sal: 4
deptno=(select: 4
deptno: 4
ADAMS: 4
Oracle: 3
used: 3
more: 3
syntax: 3
Oracle/PLSQL: 3
is:: 3
aggregate_function: 3
[WHERE: 3
within: 3
an: 3
included: 3
wish: 3
least: 3
SUM: 3
field: 3
we: 3
>: 3
MIN: 3
MAX: 3
returns: 3
NULL: 3
only: 3
NULL.: 3
14: 3
result: 3
set: 3
For: 3
/: 3
employee: 3
count(job): 3
COUNT(JOB): 3
5: 3
8750: 3
job,sum(sal),min(sal),max(sal),count(*),avg(sal): 3
6: 3
rows: 3
order: 3
emp): 3
2073.21429: 2
Description: 2
results: 2
Syntax: 2
expression_n,: 2
conditions]: 2
expression_n;: 2
Parameters: 2
Arguments: 2
expression_n: 2
expressions: 2
aggregate: 2
can: 2
aggregate_expression: 2
retrieve: 2
from.: 2
There: 2
table: 2
Optional.: 2
met: 2
Because: 2
your: 2
function,: 2
must,: 2
therefore,: 2
(in: 2
over: 2
2000: 2
next: 2
each: 2
department.: 2
salary": 2
count: 2
COUNT(aggregate_expression): 2
when: 2
SQL: 2
since: 2
query's: 2
year.: 2
employees": 2
In: 2
DISTINCT: 2
9400: 2
7: 2
1566.66667: 2
10875: 2
2175: 2
desc: 2
ename,job,sal: 2
,min(sal): 2
*: 2
ERROR: 2
line: 2
1:: 2
ename: 2
,job: 2
,sal: 2
emp));: 2
JAMES: 2
largest: 2
1100: 2
sal<: 2
(select: 2
KING: 2
smith: 2
deptno,avg(sal): 2
having: 2
min(hiredate): 2
ename;: 2
MIN(HIRED: 2
03-DEC-81: 2
17-DEC-80: 2
23-MAY-87: 2
hiredate=(select: 2
avg(sal): 1
collect: 1
data: 1
across: 1
multiple: 1
columns.: 1
(aggregate_expression): 1
It: 1
such: 1
SUM,: 1
COUNT,: 1
MIN,: 1
MAX,: 1
AVG: 1
functions.: 1
on.: 1
query: 1
name(title): 1
total: 1
sales: 1
(for: 1
title).: 1
job,sum(sal),min(sal),max(sal),avg(sal),count(*): 1
(the: 1
field): 1
category: 1
category): 1
salary.: 1
job,: 1
Employees": 1
suppliers: 1
Number: 1
Employees: 1
-------------------: 1
minimum: 1
MIN(sal): 1
"Lowest: 1
Lowest: 1
-------------: 1
Finally,: 1
let's: 1
maximum: 1
Max(sal): 1
"Highest: 1
Highest: 1
--------------: 1
expression.: 1
conditions];: 1
OR: 1
grouping: 1
columns: 1
end: 1
statement.: 1
whose: 1
non-null: 1
counted.: 1
These: 1
Only: 1
includes: 1
Values: 1
Not: 1
everyone: 1
realizes: 1
this,: 1
but: 1
include: 1
value: 1
COUNT(expression): 1
When: 1
contains: 1
value,: 1
it: 1
calculations.: 1
demonstrates: 1
evaluated: 1
count(empno): 1
COUNT(EMPNO): 1
------------: 1
all: 1
empno: 1
However,: 1
if: 1
ran: 1
function:: 1
count(comm): 1
COUNT(COMM): 1
-----------: 1
4,: 1
comm: 1
Applies: 1
To: 1
With: 1
Single: 1
Field: 1
might: 1
know: 1
many: 1
above: 1
$2,000: 1
3000;: 1
this: 1
we've: 1
aliased: 1
employees".: 1
As: 1
result,: 1
display: 1
name: 1
returned.: 1
You: 1
below: 1
unique: 1
departments: 1
makes: 1
$55,000: 1
COUNT(DISTINCT: 1
deptno): 1
"Unique: 1
departments": 1
1500;: 1
count(distinct: 1
job): 1
COUNT(DISTINCTJOB): 1
------------------: 1
some: 1
cases,: 1
required: 1
also: 1
associated: 1
department): 1
clerks.: 1
'clerks': 1
job='CLERK': 1
job='MANAGER': 1
sal>1500: 1
section.: 1
29025: 1
15: 1
deptno=10;: 1
job='MANAGER';: 1
deptno,sum(sal),min(sal),max(sal),count(*),avg(sal): 1
asc;: 1
//: 1
descending: 1
ORA-00937:: 1
single-group: 1
sal=800;: 1
emp);: 1
How: 1
get: 1
second: 1
smallest: 1
table.: 1
sal>(select: 1
Second: 1
Third: 1
max(sal)from: 1
emp)));: 1
what: 1
smith.: 1
ename='SMITH');: 1
ename<>'SMITH');: 1
ename<>'SMITH'): 1
ORA-01427:: 1
single-row: 1
subquery: 1
than: 1
row: 1
Top: 1
max: 1
salaries,: 1
although: 1
two: 1
same: 1
i.e3000: 1
emp)): 1
emp))): 1
Dispaly: 1
detail: 1
record: 1
exluding: 1
ename='SMITH'): 1
AND: 1
ENAME<>'SMITH';: 1
SPOOL: 1
OFF: 1
sal>2000: 1
2991.66667: 1
3725: 1
Where: 1
allowed: 1
Instead,: 1
used.: 1
avg(sal)>2500: 1
ename,: 1
ALLEN: 1
20-FEB-81: 1
02-APR-81: 1
CLARK: 1
09-JUN-81: 1
MILLER: 1
23-JAN-82: 1
WARD: 1
22-FEB-81: 1
MARTIN: 1
28-SEP-81: 1
19-APR-87: 1
TURNER: 1
08-SEP-81: 1
BLAKE: 1
01-MAY-81: 1
17-NOV-81: 1
ename,min(hiredate): 1
ename.: 1
ame;: 1
ename,max(hiredate): 1
max(hiredate): 1
me;: 1
MAX(HIRED: 1

In [3]:
Email = input("Enter your Email : ")
if Email.endswith("@gmail.com"):
    print ("Valid Email")
else:
    print ("Invalid Email")

Invalid Email

In [9]:
class Bank_Account:
    Balance = 100000000
    
    @classmethod
    def Check_Balance(cls):
        print ("Your Balance is : ",cls.Balance)
       
    def WithDrawal(self):
        Withdrawal_Amount = int(input("How much Balance You want to WithDraw : "))
        if Withdrawal_Amount > Bank_Account.Balance:
            print ("Insufficient Balance")
        else:
            Bank_Account.Balance -= Withdrawal_Amount
            print (f"{Withdrawal_Amount} Amount Has Been Withdrew")
    
    def Deposit(self):
        Deposit_Amount = int(input("Enter Deposit Amount : "))
        Bank_Account.Balance += Deposit_Amount
        print (f"{Deposit_Amount} amount has been Deposited")
    
        

A = Bank_Account()
A.Check_Balance()
A.WithDrawal() 
A.Check_Balance()  
A.Deposit()
A.Check_Balance()

Your Balance is :  100000000
4000000 Amount Has Been Withdrew
Your Balance is :  96000000
23 amount has been Deposited
Your Balance is :  96000023

In [22]:
import functools


A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_numbers = list(filter(lambda x: x % 2 != 0, A))
print("Odd Numbers : ",odd_numbers)


Even_Numbers = list(filter(lambda x: x % 2 == 0, A))
print("Even_Numbers : ",Even_Numbers)

Squared_Even_Numbers = list(map(lambda X : X**2, Even_Numbers))
print ("Squared Even Numbers : ",Squared_Even_Numbers)


print ("Sum of Squares : ",functools.reduce(lambda A,B : A+B, Squared_Even_Numbers))

Odd Numbers :  [1, 3, 5, 7, 9]
Even_Numbers :  [2, 4, 6, 8, 10]
Squared Even Numbers :  [4, 16, 36, 64, 100]
Sum of Squares :  220